body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img{
  height: 500px;
}
.head2{
  font-style: italic;
}
.head1{
  color: red;
}
*{
  background: #000;
  color: aliceblue;
}
button{
  background-color: aquamarine;
  color: #000;
}
.div1{
  height: 300px;
  background-color: aquamarine;
  border: 1px solid white;
}
.para1{
  font-size:x-large;
  font-style: italic;
  background-color: aquamarine;
  color: #000;
}
.para2{
  font-size:x-large;
  color: yellow;
  font-style: italic;
}